.flex-col {
  display: flex;
  flex-direction: column;
}

.filter-label {
  color: #276cda;
  margin: 1vh;
}

.filter-label:hover {
  color: #01c4a7;
  cursor: pointer;
}

.filter-checkbox {
  margin: 1vh;
}
