.flex-col {
  display: flex;
  flex-direction: column;
}

.filter-label {
  color: black;
  margin: 1vh;
}

.filter-label:hover {
  color: grey;
  cursor: pointer;
}

.filter-checkbox {
  margin: 1vh;
}

.full-height {
  height: 100%;
  border-radius: 10px;
}
