.fav-btn {
  border: 1px solid rgb(156, 5, 5);
  border-radius: 25px;
  padding: 2vh;
  margin-right: 2vw;
}

.not-fav {
  color: rgb(156, 5, 5);
  background: #fff;
}

.is-fav {
  color: #fff;
  background: rgb(156, 5, 5);
}

.not-fav:hover {
  color: #fff;
  background: rgb(156, 5, 5);
}

.is-fav:hover {
  color: rgb(156, 5, 5);
  background: #fff;
}

.soft-corner {
  border-radius: 10px;
}
