nav {
  margin-bottom: 2vh;
}

.navbar {
  background: rgba(255, 255, 255, 0.452);
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: grey;
}

.icon {
  background: url("../design/osmdb-logo.svg");
  height: 100%;
}

.is-bordeaux {
  background: rgb(156, 5, 5);
  color: white;
  border: 1px solid rgb(156, 5, 5);
}

.nav-logo {
  height: 50px;
  filter: invert(100%) brightness(150%);
}

.nav-logo:hover {
  filter: brightness(80%);
}
