.blue {
  background: blue;
  color: white;
}

.search-el {
  padding: 1vh;
  border: 0.5px solid blue;
  border-radius: 5px;
  margin: 1vh;
  font-size: 1.2em;
}

.search-bar {
  width: 80%;
}

.search-btn {
  width: 10%;
}

.close-btn {
  width: 5%;
}

.list-container {
  height: 70%;
}

.overflow {
  overflow-y: scroll;
  height: 95%;
}

.dlt-row {
  display: flex;
  justify-content: flex-end;
}
