.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container h1 {
  text-align: center;
}

.btn-landing {
  width: 15vw;
  min-width: 150px;
  padding: 2vh;
  height: auto;
  margin: 2vh;
}

.btn-black {
  background: rgba(255, 255, 255, 0.815);
  border: solid 1px black;
  color: black;
}

.btn-black:hover {
  background: black;
  color: white;
}
