@font-face {
  font-family: Alegreya;
  src: url(./design/alegreya/Alegreya-Regular.otf);
}

*,
input,
a,
button {
  font-family: Alegreya;
}

.App {
  height: 100vh;
  background-image: url("./design/black-and-white-blur-document-164821.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-container {
  display: flex;
  align-items: center;
}

.container {
  padding: 5vh;
  margin: 1vh;
  max-height: 78vh;
}

.header {
  font-size: 2.5em;
  font-weight: 800;
  margin: 5vh;
  color: black;
  text-align: center;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  pointer-events: none;
}

.background {
  background: rgba(255, 255, 255, 0.795);
}

.flex {
  display: flex;
}

.align-ctr {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.flex-ctd {
  display: flex;
  justify-content: center;
}

.col {
  border: 1px solid grey;
  border-radius: 15px;
}

nav {
  border-bottom: 1px solid grey;
}

.error-message {
  color: red;
}

.nav-text {
  margin-bottom: 0.5rem;
}

.custom-list {
  list-style-type: circle;
}

.label-text {
  color: black;
}

.overflow {
  overflow-y: scroll;
  height: 100%;
}

.overflow-form {
  overflow-y: scroll;
  height: 65%;
}

.logo {
  width: 220px;
  height: 220px;
  filter: invert(100%) brightness(150%);
}

.is-white {
  color: white;
}
