.App {
  height: 100vh;
}

.header {
  font-size: 2.5em;
  font-weight: 800;
  margin: 5vh;
  color: #276cda;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.flex {
  display: flex;
}

.flex-ctd {
  display: flex;
  justify-content: center;
}

.col {
  border: 1px solid #01c4a7;
  border-radius: 5px;
}

nav {
  border-bottom: 1px solid #01c4a7;
}
